<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-latest.js">
    </script>
    <title>Document</title>
    <script>
        $(function() {
            // 获取起始点和结束点的经纬度
            $("#btn2").on('click', function() {
                var dizhi1 = $("#ostart").val();
                var dizhi2 = $("#oend").val();
                // var url = "http://restapi.amap.com/v3/geocode/geo?address=" + dizhi1 + "|" + dizhi2 + "&output=JSON&key=3eac2241aca3b6f67079173fe3f3b8ec&batch=true";
                var url1 = "http://restapi.amap.com/v3/geocode/geo";
                $.post(url1, {
                    address: dizhi1 + '|' + dizhi2,
                    output: 'JSON',
                    key: '3eac2241aca3b6f67079173fe3f3b8ec',
                    batch: true
                }, function(data) {
                    $("#ospan").html(data.geocodes[0].location);
                    $("#osend").html(data.geocodes[1].location);
                });
            });
            // 根据经纬度计算起始点和结束点的距离
            $("#btn").on('click', function() {
                var st = $("#ospan").html();
                var ed = $("#osend").html();
                var url2 = "http://restapi.amap.com/v3/distance?origins=" + st + "&destination=" + ed + "&output=json&key=3eac2241aca3b6f67079173fe3f3b8ec&type=1"
                $.get(url2, {}, function(data) {
                    $("#distance").html(data.results[0].distance);
                });
            });
            $("#btn1").on('click', function() {
                $("#ostart").val('');
                $("#oend").val('');
                $("#ospan").html('');
                $("#osend").html('');
                $("#distance").html('');
            });
        });
    </script>
</head>
<body>
    <input type="button" id="btn2" value="获取经纬度">
    <input type="button" id="btn" value="显示距离">
    <input type="button" id="btn1" value="清空">
    <p>起始地：<input type="text" value="" id="ostart"><span id="ospan"></span></p>
    <p>结束地：<input type="text" value="" id="oend"><span id="osend"></span></p>
    <p>两地距离：<span class="distance" id="distance"></span>米</p>
</body>
</html>